@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap");

@theme {
  --font-grotesk: "Space Grotesk", sans-serif;
  --font-inherit: inherit;
}

@import "tailwindcss";